# PA 2: Classification - Nearest Neighbors

Student Details
Student Name and ID: Sandhya Sirisha Bhamidipati
1001663914

Notes: When submitting, fill your name and ID in this cell. 
Do not to forget to cite any external sources used by you. You will be submitting two different notebooks one for KNN, one for DT

Submission Instructions

Rename this submission file as Example:
'yourLastName_Last4digitsofyourID_PA2_KNN.ipynb',
'yourLastName_Last4digitsofyourID_PA2_DT.ipynb',
Place this file inside the folder 'PA#2_Classification'

Programming Assignment Details

Do not forget, this is an individual assignment!

For this assignment use Jupyter notebook, Panda, and scikit.

Load census dataset as provided.
Create a dataframe and print the first and last five records of your dataset. Print the class names.
Split your dataset 70% for training, and 30% for testing the classifier. 
Use Euclidean distance for KNN.
            Select only 2 attributes for training and testing your model.
Test it with three different number for neighbors and record the results. Add comments to explain your code and variable names.
For DT, use Gini and Entropy as your uncertainty metric

Derive all rules from the DT.

Show charts/graphs for your results.
 Calculate
For all of them print the confusion matrix, and the classification Report (includes:precision, recall, f1-score, and support).

Report

For each classification task you need to submit a report (Microsoft Word, or PDF) that you have to:

describe the method that you use (e.g. Nearest Neighbors),
Describe the dataset, and explain how you selected the two attributes(for KNN)?
Visualize the classifier in a 2D projection, for all three different number of neighbors. Interpret and compare the results.
For DT, compare the results of Gini And Entropy

Do not to forget to cite your sources!

# - - - - - - - - - - - - - - - Solution - - - - - - - - - - - - - - - - - -

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import neighbors


#Extracting data
df_census = pd.read_csv('census1994.csv')
#Printing the dataset
print(df_census);

             Date  Age          WorkClass  fnlwgt      education  \
0       3/20/1994   39          State-gov   77516      Bachelors
1       1/14/1994   50   Self-emp-not-inc   83311      Bachelors
2       8/14/1994   38            Private  215646        HS-grad
3       3/17/1994   53            Private  234721           11th
4       9/20/1994   28            Private  338409      Bachelors
5      11/28/1994   37            Private  284582        Masters
6        3/2/1994   49            Private  160187            9th
7      11/27/1994   52   Self-emp-not-inc  209642        HS-grad
8      12/25/1994   31            Private   45781        Masters
9      10/10/1994   42            Private  159449      Bachelors
10     10/29/1994   37            Private  280464   Some-college
11     11/10/1994   30          State-gov  141297      Bachelors
12       1/4/1994   23            Private  122272      Bachelors
13      2/15/1994   32            Private  205019     Assoc-acdm
14       8/1/1994   40            Private  121772      Assoc-voc
15       9/1/1994   34            Private  245487        7th-8th
16      5/15/1994   25   Self-emp-not-inc  176756        HS-grad
17       1/5/1994   32            Private  186824        HS-grad
18      4/24/1994   38            Private   28887           11th
19      6/13/1994   43   Self-emp-not-inc  292175        Masters
20      2/19/1994   40            Private  193524      Doctorate
21      9/19/1994   54            Private  302146        HS-grad
22     10/22/1994   35        Federal-gov   76845            9th
23       1/4/1994   43            Private  117037           11th
24      8/10/1994   59            Private  109015        HS-grad
25      1/15/1994   56          Local-gov  216851      Bachelors
26      4/20/1994   19            Private  168294        HS-grad
27     12/25/1994   54                  ?  180211   Some-college
28     10/25/1994   39            Private  367260        HS-grad
29      3/18/1994   49            Private  193366        HS-grad
...           ...  ...                ...     ...            ...
32531    1/1/1994   30                  ?   33811      Bachelors
32532   6/25/1994   34            Private  204461      Doctorate
32533    5/4/1994   54            Private  337992      Bachelors
32534   4/29/1994   37            Private  179137   Some-college
32535   9/15/1994   22            Private  325033           12th
32536   10/3/1994   34            Private  160216      Bachelors
32537   5/19/1994   30            Private  345898        HS-grad
32538    6/9/1994   38            Private  139180      Bachelors
32539   11/7/1994   71                  ?  287372      Doctorate
32540   12/8/1994   45          State-gov  252208        HS-grad
32541   6/27/1994   41                  ?  202822        HS-grad
32542  12/14/1994   72                  ?  129912        HS-grad
32543   8/26/1994   45          Local-gov  119199     Assoc-acdm
32544  10/14/1994   31            Private  199655        Masters
32545   12/1/1994   39          Local-gov  111499     Assoc-acdm
32546   6/24/1994   37            Private  198216     Assoc-acdm
32547   11/4/1994   43            Private  260761        HS-grad
32548  10/27/1994   65   Self-emp-not-inc   99359    Prof-school
32549   8/12/1994   43          State-gov  255835   Some-college
32550   4/10/1994   43   Self-emp-not-inc   27242   Some-college
32551   2/28/1994   32            Private   34066           10th
32552   6/29/1994   43            Private   84661      Assoc-voc
32553   3/10/1994   32            Private  116138        Masters
32554   5/23/1994   53            Private  321865        Masters
32555   3/15/1994   22            Private  310152   Some-college
32556  12/29/1994   27            Private  257302     Assoc-acdm
32557   1/30/1994   40            Private  154374        HS-grad
32558   9/26/1994   58            Private  151910        HS-grad
32559    4/5/1994   22            Private  201490        HS-grad
32560    3/5/1994   52       Self-emp-inc  287927        HS-grad

       education-num          marital-status          occupation  \
0                 13           Never-married        Adm-clerical
1                 13      Married-civ-spouse     Exec-managerial
2                  9                Divorced   Handlers-cleaners
3                  7      Married-civ-spouse   Handlers-cleaners
4                 13      Married-civ-spouse      Prof-specialty
5                 14      Married-civ-spouse     Exec-managerial
6                  5   Married-spouse-absent       Other-service
7                  9      Married-civ-spouse     Exec-managerial
8                 14           Never-married      Prof-specialty
9                 13      Married-civ-spouse     Exec-managerial
10                10      Married-civ-spouse     Exec-managerial
11                13      Married-civ-spouse      Prof-specialty
12                13           Never-married        Adm-clerical
13                12           Never-married               Sales
14                11      Married-civ-spouse        Craft-repair
15                 4      Married-civ-spouse    Transport-moving
16                 9           Never-married     Farming-fishing
17                 9           Never-married   Machine-op-inspct
18                 7      Married-civ-spouse               Sales
19                14                Divorced     Exec-managerial
20                16      Married-civ-spouse      Prof-specialty
21                 9               Separated       Other-service
22                 5      Married-civ-spouse     Farming-fishing
23                 7      Married-civ-spouse    Transport-moving
24                 9                Divorced        Tech-support
25                13      Married-civ-spouse        Tech-support
26                 9           Never-married        Craft-repair
27                10      Married-civ-spouse                   ?
28                 9                Divorced     Exec-managerial
29                 9      Married-civ-spouse        Craft-repair
...              ...                     ...                 ...
32531             13           Never-married                   ?
32532             16      Married-civ-spouse      Prof-specialty
32533             13      Married-civ-spouse     Exec-managerial
32534             10                Divorced        Adm-clerical
32535              8           Never-married     Protective-serv
32536             13           Never-married     Exec-managerial
32537              9           Never-married        Craft-repair
32538             13                Divorced      Prof-specialty
32539             16      Married-civ-spouse                   ?
32540              9               Separated        Adm-clerical
32541              9               Separated                   ?
32542              9      Married-civ-spouse                   ?
32543             12                Divorced      Prof-specialty
32544             14                Divorced       Other-service
32545             12      Married-civ-spouse        Adm-clerical
32546             12                Divorced        Tech-support
32547              9      Married-civ-spouse   Machine-op-inspct
32548             15           Never-married      Prof-specialty
32549             10                Divorced        Adm-clerical
32550             10      Married-civ-spouse        Craft-repair
32551              6      Married-civ-spouse   Handlers-cleaners
32552             11      Married-civ-spouse               Sales
32553             14           Never-married        Tech-support
32554             14      Married-civ-spouse     Exec-managerial
32555             10           Never-married     Protective-serv
32556             12      Married-civ-spouse        Tech-support
32557              9      Married-civ-spouse   Machine-op-inspct
32558              9                 Widowed        Adm-clerical
32559              9           Never-married        Adm-clerical
32560              9      Married-civ-spouse     Exec-managerial

          relationship                 race   gender  capital-gain  \
0        Not-in-family                White     Male          2174
1              Husband                White     Male             0
2        Not-in-family                White     Male             0
3              Husband                Black     Male             0
4                 Wife                Black   Female             0
5                 Wife                White   Female             0
6        Not-in-family                Black   Female             0
7              Husband                White     Male             0
8        Not-in-family                White   Female         14084
9              Husband                White     Male          5178
10             Husband                Black     Male             0
11             Husband   Asian-Pac-Islander     Male             0
12           Own-child                White   Female             0
13       Not-in-family                Black     Male             0
14             Husband   Asian-Pac-Islander     Male             0
15             Husband   Amer-Indian-Eskimo     Male             0
16           Own-child                White     Male             0
17           Unmarried                White     Male             0
18             Husband                White     Male             0
19           Unmarried                White   Female             0
20             Husband                White     Male             0
21           Unmarried                Black   Female             0
22             Husband                Black     Male             0
23             Husband                White     Male             0
24           Unmarried                White   Female             0
25             Husband                White     Male             0
26           Own-child                White     Male             0
27             Husband   Asian-Pac-Islander     Male             0
28       Not-in-family                White     Male             0
29             Husband                White     Male             0
...                ...                  ...      ...           ...
32531    Not-in-family   Asian-Pac-Islander   Female             0
32532          Husband                White     Male             0
32533          Husband   Asian-Pac-Islander     Male             0
32534        Unmarried                White   Female             0
32535        Own-child                Black     Male             0
32536    Not-in-family                White   Female             0
32537    Not-in-family                Black     Male             0
32538        Unmarried                Black   Female         15020
32539          Husband                White     Male             0
32540        Own-child                White   Female             0
32541    Not-in-family                Black   Female             0
32542          Husband                White     Male             0
32543        Unmarried                White   Female             0
32544    Not-in-family                Other   Female             0
32545             Wife                White   Female             0
32546    Not-in-family                White   Female             0
32547          Husband                White     Male             0
32548    Not-in-family                White     Male          1086
32549   Other-relative                White   Female             0
32550          Husband                White     Male             0
32551          Husband   Amer-Indian-Eskimo     Male             0
32552          Husband                White     Male             0
32553    Not-in-family   Asian-Pac-Islander     Male             0
32554          Husband                White     Male             0
32555    Not-in-family                White     Male             0
32556             Wife                White   Female             0
32557          Husband                White     Male             0
32558        Unmarried                White   Female             0
32559        Own-child                White     Male             0
32560             Wife                White   Female         15024

       capital-loss  hours-per-week  native-country   class
0                 0              40   United-States   <=50K
1                 0              13   United-States   <=50K
2                 0              40   United-States   <=50K
3                 0              40   United-States   <=50K
4                 0              40            Cuba   <=50K
5                 0              40   United-States   <=50K
6                 0              16         Jamaica   <=50K
7                 0              45   United-States    >50K
8                 0              50   United-States    >50K
9                 0              40   United-States    >50K
10                0              80   United-States    >50K
11                0              40           India    >50K
12                0              30   United-States   <=50K
13                0              50   United-States   <=50K
14                0              40               ?    >50K
15                0              45          Mexico   <=50K
16                0              35   United-States   <=50K
17                0              40   United-States   <=50K
18                0              50   United-States   <=50K
19                0              45   United-States    >50K
20                0              60   United-States    >50K
21                0              20   United-States   <=50K
22                0              40   United-States   <=50K
23             2042              40   United-States   <=50K
24                0              40   United-States   <=50K
25                0              40   United-States    >50K
26                0              40   United-States   <=50K
27                0              60           South    >50K
28                0              80   United-States   <=50K
29                0              40   United-States   <=50K
...             ...             ...             ...     ...
32531             0              99   United-States   <=50K
32532             0              60   United-States    >50K
32533             0              50           Japan    >50K
32534             0              39   United-States   <=50K
32535             0              35   United-States   <=50K
32536             0              55   United-States    >50K
32537             0              46   United-States   <=50K
32538             0              45   United-States    >50K
32539             0              10   United-States    >50K
32540             0              40   United-States   <=50K
32541             0              32   United-States   <=50K
32542             0              25   United-States   <=50K
32543             0              48   United-States   <=50K
32544             0              30   United-States   <=50K
32545             0              20   United-States    >50K
32546             0              40   United-States   <=50K
32547             0              40          Mexico   <=50K
32548             0              60   United-States   <=50K
32549             0              40   United-States   <=50K
32550             0              50   United-States   <=50K
32551             0              40   United-States   <=50K
32552             0              45   United-States   <=50K
32553             0              11          Taiwan   <=50K
32554             0              40   United-States    >50K
32555             0              40   United-States   <=50K
32556             0              38   United-States   <=50K
32557             0              40   United-States    >50K
32558             0              40   United-States   <=50K
32559             0              20   United-States   <=50K
32560             0              40   United-States    >50K

[32561 rows x 16 columns]

In [2]:
#Printing the first five records of the dataset

first_five_recs = df_census.head();
print(first_five_recs);

        Date  Age          WorkClass  fnlwgt   education  education-num  \
0  3/20/1994   39          State-gov   77516   Bachelors             13
1  1/14/1994   50   Self-emp-not-inc   83311   Bachelors             13
2  8/14/1994   38            Private  215646     HS-grad              9
3  3/17/1994   53            Private  234721        11th              7
4  9/20/1994   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race   gender  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country   class
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [3]:
#Printing the first last records of the dataset

last_five_recs = df_census.tail();
print(last_five_recs);

             Date  Age      WorkClass  fnlwgt    education  education-num  \
32556  12/29/1994   27        Private  257302   Assoc-acdm             12
32557   1/30/1994   40        Private  154374      HS-grad              9
32558   9/26/1994   58        Private  151910      HS-grad              9
32559    4/5/1994   22        Private  201490      HS-grad              9
32560    3/5/1994   52   Self-emp-inc  287927      HS-grad              9

            marital-status          occupation relationship    race   gender  \
32556   Married-civ-spouse        Tech-support         Wife   White   Female
32557   Married-civ-spouse   Machine-op-inspct      Husband   White     Male
32558              Widowed        Adm-clerical    Unmarried   White   Female
32559        Never-married        Adm-clerical    Own-child   White     Male
32560   Married-civ-spouse     Exec-managerial         Wife   White   Female

       capital-gain  capital-loss  hours-per-week  native-country   class
32556             0             0              38   United-States   <=50K
32557             0             0              40   United-States    >50K
32558             0             0              40   United-States   <=50K
32559             0             0              20   United-States   <=50K
32560         15024             0              40   United-States    >50K

In [4]:
#Printing class names

for col in df_census.columns: 
    print(col)

Date
Age
WorkClass
fnlwgt
education
education-num
marital-status
occupation
relationship
race
gender
capital-gain
capital-loss
hours-per-week
native-country
class

In [5]:
#Splitting the dataset 70% for training, and 30% for testing the classifier.

df_c = df_census[['Age', 'education-num', 'class']].copy()
df_c['class']=df_c['class'].map({' <=50K': 0, ' >50K': 1, ' <=50K.': 0, ' >50K.': 1})

X = df_c.iloc[:, 0:3];
print(X);
Y = df_c.iloc[:, 0];
print(Y);

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3);
print (X_train);
print (Y_test);

       Age  education-num  class
0       39             13      0
1       50             13      0
2       38              9      0
3       53              7      0
4       28             13      0
5       37             14      0
6       49              5      0
7       52              9      1
8       31             14      1
9       42             13      1
10      37             10      1
11      30             13      1
12      23             13      0
13      32             12      0
14      40             11      1
15      34              4      0
16      25              9      0
17      32              9      0
18      38              7      0
19      43             14      1
20      40             16      1
21      54              9      0
22      35              5      0
23      43              7      0
24      59              9      0
25      56             13      1
26      19              9      0
27      54             10      1
28      39              9      0
29      49              9      0
...    ...            ...    ...
32531   30             13      0
32532   34             16      1
32533   54             13      1
32534   37             10      0
32535   22              8      0
32536   34             13      1
32537   30              9      0
32538   38             13      1
32539   71             16      1
32540   45              9      0
32541   41              9      0
32542   72              9      0
32543   45             12      0
32544   31             14      0
32545   39             12      1
32546   37             12      0
32547   43              9      0
32548   65             15      0
32549   43             10      0
32550   43             10      0
32551   32              6      0
32552   43             11      0
32553   32             14      0
32554   53             14      1
32555   22             10      0
32556   27             12      0
32557   40              9      1
32558   58              9      0
32559   22              9      0
32560   52              9      1

[32561 rows x 3 columns]
0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: Age, Length: 32561, dtype: int64
       Age  education-num  class
4570    58              9      0
30627   70              6      0
20974   25              9      0
18336   68             13      0
9462    26             10      0
5361    18              6      0
30134   43              9      0
13191   43             13      0
14338   20              9      0
15046   34              7      0
28171   51              7      0
22849   18              7      0
18764   52             14      0
25358   32             13      0
21765   22             10      0
26196   28              9      0
29940   17              7      0
22187   59             10      0
26268   37             16      1
5952    27             13      0
905     46              9      0
11653   29             12      0
26769   54              9      1
8807    49             13      0
24687   36              9      0
20429   43             10      0
25307   51              6      0
12277   24             13      0
414     31             10      0
20611   27             13      0
...    ...            ...    ...
20794   32              9      0
26454   28              9      0
9117    25             10      0
1480    43              9      0
3825    21              9      0
27641   41             14      1
5346    20             10      0
17710   48              9      0
18613   33              9      0
21540   37             10      1
14472   34              9      0
23836   54              4      0
25596   28              9      0
18259   19             10      0
104     29              9      0
2384    19             10      0
21243   65              9      0
6314    31              9      0
26201   24              8      0
15658   39             10      0
21493   31              9      0
11678   35              9      0
14360   24              9      0
26260   60             10      0
26616   44              9      0
218     45             13      0
10274   41             10      0
2554    36              9      0
15770   43              9      0
14322   37              9      0

[22792 rows x 3 columns]
30033    31
18158    26
20902    34
22382    52
13427    44
16315    34
32018    18
23080    46
18978    46
22656    44
15597    32
29680    64
17562    46
24530    60
3279     45
16241    28
14997    43
19742    40
12525    63
22128    55
6581     23
29265    36
18875    37
23744    55
17170    40
3174     41
1388     19
6433     27
27640    38
3972     40
         ..
24602    52
7561     35
25625    34
27782    41
7195     27
13444    46
12801    26
8659     32
11630    22
18668    23
9801     36
18947    50
5798     49
12273    23
19346    39
5335     49
1713     38
28343    50
5737     30
21542    19
8468     43
26719    26
862      48
25356    45
14675    48
21174    53
20715    33
16119    30
29029    45
6379     61
Name: Age, Length: 9769, dtype: int64

In [13]:
#Create array from data values

array = df_c.values
X = array[:,0:16]
Y = array[:,2]

#select the features using chi square

test = SelectKBest(score_func=chi2, k=3)

#Fit the function for ranking the features by score

fit = test.fit(X_train, Y_train)

#Summarize scores numpy.set_printoptions(precision=3) print(fit.scores_)

#Apply the transformation on to dataset

features = fit.transform(X_train)
#print(features)

# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [7]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:5]

array([31, 26, 34, 52, 44], dtype=int64)

In [8]:
#check accuracy of our model on the test data
knn.score(X_test, Y_test)

0.9933462995188863

In [9]:
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=3)
#train model with cv of 5 
cv_scores = cross_val_score(knn_cv, X, Y, cv=5)
#print each cv score (accuracy) and average them
print(cv_scores)
mean = np.mean(cv_scores)
print('mean:', mean)
#print(cv_score mean.format(np.mean(cv_scores)))
#print(cv_scores_mean.format(np.mean(cv_scores)))

[0.99416552 0.995086   0.99401106 0.99554668 0.99662162]
mean: 0.9950861742777912

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

knn2 = neighbors.KNeighborsClassifier()



print('KNN score: %f' % knn2.fit(X_train, Y_train).score(X_test, Y_test))

#create new a knn model
#knn2 = KNeighborsClassifier()

#create a dictionary of all values we want to test for n_neighbors
#param_grid = {‘n_neighbors’: np.arange(1, 25)}
#param_grid = np.arange(1, 25)
#print('n_neighbors:', param_grid)
#score = ['precision', 'recall']
#clf = GridSearchCV(SVC(), param_grid, cv=5, scoring='%s_macro' % score)
#print(clf.best_params_)
#use gridsearch to test all values for n_neighbors
#knn_gscv = GridSearchCV(knn2, param_grid, cv=5)
#fit model to data
#knn_gscv.fit(X, Y)
#knn2.fit(X,Y)

KNN score: 0.991811

In [11]:
knn.predict(X_test)[0:5]

array([31, 26, 34, 52, 44], dtype=int64)

In [12]:
knn.score(X_test, Y_test)

0.9933462995188863